@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,700;1,900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(48,8,111,1) 35%, rgba(54,9,121,1) 58%, rgba(0,212,255,1) 100%);
}
#formulario {
    border: 1px dotted black;
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: beige;
}
#formulario label{
    width: 90%;
    text-align: left;
    padding-right: 10px;
    margin-bottom: 10px;
    
}
#formulario *{
    font-size: 18px;
}

#formulario h3{
    font-size: 1.1em;
    font-weight: 300;
}
input, textarea {
    width: 90%;
    margin-bottom: 10px;
    padding: 4px;    
    border: 2px solid rgba(54,9,121,0.5);
}

input:focus, textarea:focus { 
    border: 2px solid  rgba(54,9,121,1);
    outline: none !important;   
}

#formulario  button, #boryPosts button{
    font-size: 0.9em;
    width: 100px;
    margin: 0 auto;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid  rgba(54,9,121,1);
    cursor: pointer;
    font-weight: 500;
    background-color: white;
    color: black;
}
#formulario button:hover, #formulario button:focus, #boryPosts button:hover, #boryPosts button:focus{
    background-color: rgba(54,9,121,1);
    color: white;
    outline: none !important;   
}
#container-de-posts {
    margin: 10px;
    border-top: 3px double rgb(77, 77, 77);
}
span{
    color: red;
}
#mudarPagina{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(54,9,121,1);
    color: white;
}
a #mudarPagina{
    position: absolute;
}
main{
    position: absolute;
    height: 200vh;
}
#container-de-posts{
    margin-top: 400px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#container-de-posts .post{
    width: 30%;
    background-color: beige;
    padding: 10px;
}

#container-de-posts .post *{
    margin: 10px;
}

#boryPosts{
    background: none;
    background-color: rgba(54,9,121,1);
}

@media only screen and (max-width: 600px){
    #formulario {
    margin-bottom:20%;
    }
    #formulario *{
    font-size: 15px;
}
}