@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px;
    background-color: #e3e8eb;
    align-items: center;
}
#logo{
    display: flex;
    align-items: center;
}
#logo a{
    display: flex;
    color: #45525b;
    justify-content: center;
    align-items: center;
}
#logo img{
    width: 50px;
}
#pesquisa{
    display: flex;
    align-items: center;
}
#pesquisa img
{
    width: 30px;
margin-left: 10px;
cursor: pointer;
}
@media screen and (max-width: 650px){
  #logo h3{
    display: none;
  }
  
  #logo{
    width: 10%;
    margin: 0px 20px;
  }
  #logo img{
    width: 100%;
  }

  #pesquisa{
    width: 90%;
  }
  #pesquisa input{
    width: calc(90% - 30px);
  }
}
header input{
    height: 40px;
    width: 400px;
    border-radius: 8px;
    border: #fe7e02 solid 2px;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 15px 10px 50px 10px;
    justify-content: center
}
.menu ul{
  color: #45525b;
    display: flex;
    justify-content: space-around;
    /* background-color: #e3e8eb; */
    padding: 10px 0px;
    font-weight: 600;
    flex-wrap: wrap;
}
.menu ul li{
  padding: 10px;
}
.menu ul li:hover{
    color: #fd7d02;
  cursor: pointer;
}
#videos{
    align-self: center;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    max-width:  1000px;  
}
.video-box{
    width: 200px;
    margin: 20px;
}
.video-box video{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
}
.video-box img:first-child{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;

}
.video-box a{
    position: relative;
}
a:hover .filtro{
    display: block;
}
.filtro{
    display: none;
    position: absolute;
    width: 200px;
    background-color: #fe7e0269;
  
    height: 115px;
    left:50%;
    top:50%;
    padding: 30px 70px;
}
footer{
    display: flex;
    height: 70px;
    background-color: #45525b;
    color: #fe7e02;
    display: flex;
    justify-content:  center;
    align-items: center;
}

#exibe-video {
    max-width: 850px;
    margin: 20px;
}
#exibe-video video{
    width: 100%;
}
#exibe-video h2{
    align-self: flex-start;
    margin-bottom: 10px;
}
#videos2{
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width:  850px;
}
