@import url("https://fonts.googleapis.com/css?family=Varela+Round");

html {
  box-sizing: border-box;
}
*{
    margin: 0px;
    padding: 0px;
  }
body,
html {
    min-height: 100vh;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  font-size: 25px;
}
#menu #logo{
    width: 300px;
    top: 0px;

}
#menu {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    list-style: none;
    border-bottom: rgb(5, 99, 103) solid 2px;
}
#menu a {
    margin-right: 20px;
    text-align: center;
    font-size: 22px;
    color: black;
    text-decoration: none;
    transition: all 0.45s;
}  
  #menu a:hover{
      color: rgb(5, 99, 103);
      text-decoration: underline;
      font-weight: 700;
}  

#menu .icone{
    width: 25px;
}
  


    #menu2 img{
        width: 22px;
    }
    #menu2 {
        border-collapse: collapse;
        position: relative;
        z-index:3;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        list-style: none;
        display: none;
    }
    
    #menu2 a {
        display: none;
        width: 100%;
        text-align: center;
        font-size: 22px;
        color: black;
        text-decoration: none;
        transition: all 0.45s;
        border-bottom: rgb(5, 99, 103) solid 2px;
    }  
      #menu2 a:hover{
          color: rgb(5, 99, 103);
          font-weight: 700;
    } 
    
    #menu2 input{
        display: none;
    }
    #menu2 label{
        
        cursor: pointer;
        align-items: center;
        height: 30px;
        display: block;
        background-color: rgb(5, 99, 103);

    }
    #menu2 img{
        position: relative;
        top:2px;
    }
    #menu2 .icone{
        width: 25px;
    }
    #chamaMenu2:checked ~ a{
        display: inline-block;
    }
    @media screen and (max-width:900px){
        #menu2{
            display: block;
        }
        #menu{
            display: none;
        }
    }
form{
    /* background: blueviolet; */
    display: inline-block;
    text-align: left;
    width: 500px;
    max-width: 80%;
}
form input, form select{
    width: 100%;
    height: 25px;
    border-radius: 6px;
    /* color: chartreuse; */
}
form label{
    margin: 0px;
    padding: 0px;
    /* background-color: chartreuse; */
    position: relative;
    font-size: 20px;
}
form div{
    margin-top:10px;
    display: block;
    position: relative;
}
form button{
    margin-top:10px;
    /* background-color: chocolate; */
    display: block;
    position: relative;
    height: 30px;
    border-radius: 6px;
    font-size: 20px;
    background-color: rgb(5, 99, 103);
    color: white;
}
table{
    border-collapse: collapse;
    /* background: blueviolet; */
    display: inline-block;
    text-align: left;
    border: black 2px solid;
    font-size: 20px;
    text-align: center;
}

table tr th{
    background-color: rgb(5, 99, 103);
    color: white;
    border: black 2px solid;
}
table tr td{
    max-width: 160px;
    border: black 2px solid;
}
table img{
    width: 64px;
}
ul li{
    list-style-type: none;
    font-size: 20px;
}
#rodape{
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: rgb(5, 99, 103);
    bottom: 0px;
    margin-top: 10px;
    position: relative;
}
#rodape div p{
   /* background-color: yellow; */
   margin: 0px;
   padding: 0px;
}
#rodape div{
    /* background-color: red; */
}
#contedo{
    max-width: 800px;
    width: 100%;
    display: inline-block;
}
#contedo img{
    width: 100%;
}
#conteudo table{
    width: 80%;
}
#contedo ul{
    width: 100%;
}

#add-vendas{
    display: inline-block;
    position: relative;
    width: 100%;
}
#add-lista{
    display: inline-block;
    position: relative;
    width: 100%;
}
#add-vendas  form select{
    width: 50%;
    height: 30px;
    border-radius: 6px;
    /* color: chartreuse; */
}
#add-vendas  form .number{
    width: 20%;
    height: 25px;
    border-radius: 6px;
    /* color: chartreuse; */
}
#add-lista  table
{
    width: 80%;
}
#add-lista  table tr td
{
    width: 100%;
}